<ion-header>
  <ion-toolbar>
    <ion-title>Novo Post</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" class="ios button button-clear ion-activatable ion-focusable hydrated">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addPostForm" #form="ngForm" (ngSubmit)="submitAddPost(form)">
    <!-- Imagens -->
    <ion-item lines="none" class="ion-margin-top">
      <input type="file" formControlName="post_images" name="post_images" id="post_images" class="post-img-input"
        multiple="true" (change)="showImgName()" />
      <ion-button fill="outline" color="medium" class="post-img-button" (click)="clickInputFile()">
        <ion-icon slot="start" name="image"></ion-icon>
        Imagens
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-textarea id="img_name"></ion-textarea>
    </ion-item>
    <!-- Título -->
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input formControlName="post_title" name="post_title" type="text"></ion-input>
    </ion-item>
    <!-- Texto -->
    <ion-item>
      <ion-label position="floating">Conteúdo</ion-label>
      <ion-textarea formControlName="post_text" name="post_text"></ion-textarea>
    </ion-item>
    <!-- Contextos -->
    <ion-item lines="none">
      Contextos
    </ion-item>
    <ion-item lines="none" *ngFor="let ctx of contexts">
      <ion-label>{{ctx.name}}</ion-label>
      <ion-checkbox slot="start" name="post_ctx_{{ctx.name}}"></ion-checkbox>
    </ion-item>
    <!-- Visibilidade -->
    <ion-item lines="none" class="ion-margin-top">
      Visibilidade
    </ion-item>
    <ion-radio-group>
      <ion-item lines="none">
        <ion-label>Restrito ao contexto</ion-label>
        <ion-radio slot="start" value="1" formControlName="post_visibility" name="post_visibility"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Restrito à Fundação CEFETMINAS</ion-label>
        <ion-radio slot="start" value="2" formControlName="post_visibility" name="post_visibility"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Público</ion-label>
        <ion-radio slot="start" value="3" formControlName="post_visibility" name="post_visibility"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <!-- Enviar -->
    <ion-button padding type="submit" expand="block">Enviar
      <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
    </ion-button>
  </form>
</ion-content>