<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
			<ion-img cache="true" src="/assets/images/logo_fcm.png" height="5px" width="5px" class="logo-position"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="load">
	<ion-grid>
		<ion-row color="primary" justify-content-center>
			<ion-col align-self-center size-md="6" size-lg="7" size-xs="12">
				<ion-card padding>
			  <ion-card-header>
			    <ion-card-title>Foto de perfil</ion-card-title>
			  </ion-card-header>

			  <ion-card-content>
					<ion-img cache="true" src="https://api.fundacaocefetminas.org.br/{{profile.profilepicpath}}"></ion-img>
					<ion-card-content>
			      <ion-button color="medium" size="large" (click)="cropUpload()">
			        <ion-icon slot="icon-only" name="camera"></ion-icon>
			      </ion-button>
			    </ion-card-content>
			  </ion-card-content>
			</ion-card>

			<ion-card>
			<ion-card-header>
				<ion-card-title>Editar perfil</ion-card-title>
			</ion-card-header>

			<ion-card-content>
				<form [formGroup]="editProfileForm" #form="ngForm" (ngSubmit)="submitEditProfile(form)">
				<ion-item padding>
					<ion-label position="floating">Nome:</ion-label>
					<ion-input formControlName="name" name="name" type="text"></ion-input>
				</ion-item>
				<ion-item padding>
					<ion-label position="floating">CPF:</ion-label>
					<ion-input formControlName="cpf" name="cpf" type="text" [brmasker]="{form: editProfileForm.get('cpf'), mask: '999.999.999-99'}"></ion-input>
				</ion-item>
				<ion-item padding>
					<ion-label position="floating">Email:</ion-label>
					<ion-input formControlName="email" name="email" type="email" required></ion-input>
				</ion-item>
				<ion-button padding type="submit" [disabled]="!editProfileForm.valid" expand="block">Enviar <ion-icon slot="end" name="arrow-round-forward"></ion-icon> </ion-button>
				</form>
			</ion-card-content>
			</ion-card>

			<ion-card>
			<ion-card-header>
				<ion-card-title>Alterar senha</ion-card-title>
			</ion-card-header>

			<ion-card-content>
				<form [formGroup]="changePassword" #form="ngForm" (ngSubmit)="submitChangePassword(form)">
				<ion-item padding>
					<ion-label position="floating">Senha:</ion-label>
					<ion-input formControlName="password" name="password" type="password"></ion-input>
				</ion-item>
				<ng-container *ngFor="let error of error_messages.password">
					<div class="error-messages" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
						{{error.message}}
					</div>
				</ng-container>
				<ion-item padding>
					<ion-label position="floating">Nova senha:</ion-label>
					<ion-input formControlName="newPassword" name="newPassword" type="password"></ion-input>
				</ion-item>
				<ion-item padding>
					<ion-label position="floating">Confirme a nova senha:</ion-label>
					<ion-input formControlName="confirmNewPassword" name="confirmNewPassword" type="password" required></ion-input>
				</ion-item>
				<ng-container *ngIf="loginForm.hasError('notSame')"">
					<div class="error-messages" *ngIf="(loginForm.get('confirmNewPassword').dirty || loginForm.get('confirmNewPassword').touched)">
						As senhas não coincidem.
					</div>
				</ng-container>
				<ng-container *ngFor="let error of error_messages.confirmNewPassword">
					<div class="error-messages" *ngIf="loginForm.get('confirmNewPassword').hasError(error.type) && (loginForm.get('confirmNewPassword').dirty || loginForm.get('confirmNewPassword').touched)">
						{{error.message}}
					</div>
				</ng-container>
					<ion-button padding type="submit" [disabled]="!changePassword.valid" expand="block">Enviar <ion-icon slot="end" name="arrow-round-forward"></ion-icon> </ion-button>
				</form>
			</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
	</ion-grid>


</ion-content>
