<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
			<ion-img cache="true" src="/assets/images/logo_fcm.png" height="5px" width="5px" class="logo-position"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
  <ion-card-header>
    <ion-card-title>Foto de perfil</ion-card-title>
  </ion-card-header>

  <ion-card-content>
		<ion-img cache="true" src="https://api.fundacaocefetminas.org.br/{{profilepicpath}}"></ion-img>
		<ion-card-content>
      <ion-button color="medium" size="large" (click)="cropUpload()">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card-content>
</ion-card>

</ion-content>
