<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
			<ion-img cache="true" src="/assets/images/logo_fcm.png" height="5px" width="5px" class="logo-position"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-col>
        <ion-button href="#" fill="clear">
          Contextos
          <ion-icon name="settings" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top ion-margin-bottom">
      <div class="container context-border">
        <div class="scroll" scrollX="true">
          <div class="context-position">
            <ion-button href="#" class="context-button">
              T
            </ion-button>
            <p class="ion-text-center">TIC</p>
          </div>
          <div class="context-position">
            <ion-button href="#" class="context-button">
              C
            </ion-button>
            <p class="ion-text-center">Comunidados</p>
          </div>
          <div class="context-position">
            <ion-button href="#" class="context-button">
              A
            </ion-button>
            <p class="ion-text-center">Alice</p>
          </div>
          <div class="context-position">
            <ion-button href="#" class="context-button">
              D
            </ion-button>
            <p class="ion-text-center">Daniel</p>
          </div>
        </div>
      </div>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <ion-item class="item-border">
              <ion-avatar slot="start">
                <img src="https://conecta.fundacaocefetminas.org.br/static/profilepic/default.png">
              </ion-avatar>
              <ion-label>
                <p>Alice Costa</p>
                <p>16/05/2019 11:13</p>
              </ion-label>
              <ion-icon name="eye-off" class="ion-margin-end"></ion-icon>
              <ion-badge>T</ion-badge>
            </ion-item>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <img src="https://conecta.fundacaocefetminas.org.br/static/post_images/84917835.jpg" class="image-width">
            <ion-card-title class="title-padding">Card Title</ion-card-title>
            <div class="text-padding">
              Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week
              in the woods. Wash your spirit clean.
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
