<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img cache="true" src="/assets/images/logo_fcm.png" height="5px" width="5px" class="logo-position"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <!-- Menu - Contextos -->

    <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-col>
        <ion-button href="#" fill="clear">
          Contextos
          <ion-icon name="settings" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top ion-margin-bottom">
      <div class="container context-border">
        <div class="scroll" scrollX="true">
          <div class="context-position" *ngFor="let ctx of contexts">
            <ion-button href="#" class="context-button" [ngStyle]="{'background':ctx.color}">
              {{ctx.name[0]}}
            </ion-button>
            <p class="ion-text-center">{{ctx.name}}</p>
          </div>
        </div>
      </div>
    </ion-row>

    <!-- Post Card -->

    <ion-row *ngFor="let post of posts">
      <ion-col>
        <ion-card button [routerLink]="['/','menu','posts',post.id]">
          <ion-card-header class="ion-no-padding">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <ion-img src="https://api.fundacaocefetminas.org.br/{{post.author_profilepic}}"></ion-img>
              </ion-avatar>
              <ion-label>
                <p>{{post.author.split(' ')[0]}} {{post.author.split(' ')[post.author.split(' ').length-1]}}</p>
                <p>
                  <ion-datetime class="post-date" display-format="DD/MM/YYYY HH:mm" value="{{post.date}}">
                  </ion-datetime>
                </p>
              </ion-label>
              <ion-icon *ngIf="post.visibility==1 || post.visibility==2" name="eye-off" class="ion-margin-end">
              </ion-icon>
              <ion-icon *ngIf="post.visibility==3" name="eye" class="ion-margin-end"></ion-icon>
              <ion-badge *ngFor="let ctx of post.contexts" [ngStyle]="{'background':ctx.color}">{{ctx.name[0]}}
              </ion-badge>
            </ion-item>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <!-- Post com 1 imagem -->
            <ion-img *ngIf="post.images.length==1" cache="true" src="https://api.fundacaocefetminas.org.br/{{post.images[0]}}"></ion-img>
            <!-- Post com 2 ou mais imagens -->
            <ion-slides *ngIf="post.images.length>1" pager="true" [options]="sliderConfig" style="min-height: 150px">
              <ion-slide *ngFor="let img of post.images">
                <ion-img cache="true" src="https://api.fundacaocefetminas.org.br/{{img}}"></ion-img>
              </ion-slide>
            </ion-slides>
            <ion-card-title class="title-padding">{{post.title}}</ion-card-title>
            <div class="text-padding">
              {{post.text | slice:0:150}}{{post.text.length >= 150 ? '...' : ''}}
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
